.Change{
    background-color: #2f6782;
    color: white !important;
    padding: 10px 140px;
}

@media (max-width: 768px) {
    .ChangePassword{
        display: flex;
        justify-content: center;
    }
}