.icon {
  background-color: #e2e2e2;
  color: black;
}

.dark_icon {
  /* background-color: #e2e2e2; */
  background-color: rgba(193, 193, 193, 0.3);
  color: white;
}

.ul {
  padding-left: 0;
}

.list {
  list-style-type: none;
}
