.salesPerson {
  color: #66b4d2;
}
.info {
  background-color: #f9f9f9;
}

.info_dark {
  background-color: #193443 !important;
  color: #fff !important;
}

.info label {
  color: black;
  font-weight: 500;
}
.info input,
.info select {
  color: #c3c3c3;
}
